h2{
    text-align: center;
}
.imagenes{
    display: flex;
    .imagenes-proyectos{
        width: 450px;
        display: flex;
        justify-content: center;
        height: 450px;
        padding: 50px;
        transition-duration: 2s;
        transition-timing-function: ease-in-out;
        :hover{
            transform: scale(2);
        }
    }
}
.experiencia-laboral{
    text-align: center;
    justify-content: space-around;
    padding: 75px;
    .marcas a{
        text-decoration: none;
        color: #000000;
    }
}
.obj{
    text-align: center;
}
.marcas-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  100px 50px;
    grid-column-gap: 50px;
    grid-row-gap: 65px;
    .marcas-media{
        width: 100%;
        padding: 45px 20px;
    }
}