@media screen and (max-width:768px) {
    .imagenes .imagenes-proyectos{
      width: 250px;
  
    }
    .titulo-proyectos{
      padding-top: 32px;
    }
    .otros-proyectos{
      width: 250px;
      height: 350px;
    }
    .otros-proyectos-2{
      padding-left: 410px;
      width: 50%;
      height: 500px;
    }
  }
  @media screen and (max-width:600px) {
    .foto-thomas{
      padding-left: 50px;
    }
    .imagenes .imagenes-proyectos{
      height: 200px;
      padding: 0%;
    }
    .marcas-grid{
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    .otros-proyectos-2{
      padding-left: 300px;
      
    }
  }
@media screen and (max-width: 480px) {
  .foto-thomas {
    height: 150px;
    padding: 16px; }
  main {
    padding: 0%; }
  .imagenes .imagenes-proyectos {
    height: 150px; }
  .cv{
     height: 250px; }
  .otros-proyectos{
     height: 200px;
    }
  .otros-proyectos-2 {
     padding-left: 250px; } }
  
@media screen and (max-width: 320px) {
  .titulo-proyectos {
    padding-left: 48px; }
  .otros-proyectos{
    height: 150px;
    }
  .otros-proyectos-2 {
     height: 300px;
    padding-left: 170px; } }