.titulo-proyectos{
    @extend .cv;
    padding: $padding*2;
}
.otros-proyectos{
    width: 100%;
    @extend .cv;
    height: 600px;
    margin: auto;
    
}
.otros-proyectos-2{
    @extend .cv;
    height: 1500px;
    margin-bottom: 100px;
    margin-top: 100px;
}
