.titulo-sobremi{
    @extend .cv;
    padding: $padding*2;
}
.p-sobremi{
    @extend .cv;
    margin-left: 100px;
    margin-right: 100px;
}
.foto-sobremi{
    @extend .cv;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
}
.ig-sobremi {
    @extend .cv;
    ul li a{
        text-decoration: none;
        color: #000000;
    }
  }